@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Miniver&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
a {
    text-decoration: none!important;
}

body{
    font-family: "Be Vietnam Pro", sans-serif;
}

:root{
    --color-one: #dde8ec;
    --color-two: #efefef;
    --color-three: #f8d9c4;
    --color-four: #232323;
    --color-five: #f18b83;
    --color-six: #ff0000;
    --color-seven: #ffffff;

    --font-size-sm: 12px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 28px;
    --font-size-xxxl: 32px;

    --font-w-sm: 500;
    --font-w-md: 600;
    --font-w-lg: 700;
    --font-w-xl: 800;
    --font-w-xxl: 900;
}